#### Objetivo: generar un modelo que pueda hacer predicciones de ventas

#### Escenario: Eres un científico de datos dentro de la consultoría “El oráculo”, tienes la asignación de trabajar en una empresa de retail para predecir sus ventas semanales a diferentes niveles muestrales, a nivel tienda

#### Datasource: https://www.kaggle.com/code/aslanahmedov/walmart-sales-forecasting

#### Entrega: 06 de Agosto de 2022

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('clean_data.csv')

In [4]:
print('rows =', df.shape[0], ', columns =' ,df.shape[1])
df.columns

rows = 420212 , columns = 24

Index(['Unnamed: 0', 'Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Type', 'Size',
       'Super_Bowl', 'Labor_Day', 'Thanksgiving', 'Christmas', 'week', 'month',
       'year'],
      dtype='object')

In [5]:
df.sample(10)

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
126449,126757,13,83,2012-06-22,5146.51,False,72.89,3.737,9298.46,565.14,...,5.965,A,219622,False,False,False,False,25,6,2012
245314,246092,25,13,2012-08-10,26823.66,False,71.93,3.722,21796.09,67.99,...,7.280,B,128107,False,False,False,False,32,8,2012
237965,238715,25,54,2010-07-16,27.00,False,73.43,2.783,0.00,0.00,...,7.527,B,128107,False,False,False,False,28,7,2010
397420,398701,43,52,2010-05-14,100.81,False,72.14,2.854,0.00,0.00,...,9.593,C,41062,False,False,False,False,19,5,2010
343753,344864,36,74,2012-02-10,556.21,True,54.49,3.462,810.75,5.50,...,7.244,A,39910,True,False,False,False,6,2,2012
180963,181516,19,83,2011-04-01,4028.14,False,30.68,3.811,0.00,0.00,...,7.658,A,203819,False,False,False,False,13,4,2011
281655,282502,29,82,2011-08-26,17769.44,False,72.22,3.796,0.00,0.00,...,9.863,B,93638,False,False,False,False,34,8,2011
184690,185256,19,55,2012-04-06,13170.38,False,40.23,4.143,9337.26,0.00,...,8.150,A,203819,False,False,False,False,14,4,2012
261023,261825,27,6,2011-06-17,8077.55,False,67.03,3.989,0.00,0.00,...,7.725,A,204184,False,False,False,False,24,6,2011
227955,228683,24,30,2010-07-30,5745.88,False,75.91,2.932,0.00,0.00,...,8.117,A,203819,False,False,False,False,30,7,2010

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420212 entries, 0 to 420211
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    420212 non-null  int64
 1   Store         420212 non-null  int64
 2   Dept          420212 non-null  int64
 3   Date          420212 non-null  object
 4   Weekly_Sales  420212 non-null  float64
 5   IsHoliday     420212 non-null  bool
 6   Temperature   420212 non-null  float64
 7   Fuel_Price    420212 non-null  float64
 8   MarkDown1     420212 non-null  float64
 9   MarkDown2     420212 non-null  float64
 10  MarkDown3     420212 non-null  float64
 11  MarkDown4     420212 non-null  float64
 12  MarkDown5     420212 non-null  float64
 13  CPI           420212 non-null  float64
 14  Unemployment  420212 non-null  float64
 15  Type          420212 non-null  object
 16  Size          420212 non-null  int64
 17  Super_Bowl    420212 non-null  bool
 18  Labor_Day     420212 non-null  bool
 19  Thanksgiving  420212 non-null  bool
 20  Christmas     420212 non-null  bool
 21  week          420212 non-null  int64
 22  month         420212 non-null  int64
 23  year          420212 non-null  int64
dtypes: bool(5), float64(10), int64(7), object(2)
memory usage: 62.9+ MB

In [7]:
df['Unnamed: 0'].duplicated().sum() # The Unnamed: 0 is the ID, no duplicates are expected

0

In [8]:
df.describe()

,Unnamed: 0,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size,week,month,year
count,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000
mean,210736.390089,22.195611,44.241309,16033.114591,60.090599,3.360890,2590.323565,878.905242,468.845949,1083.534361,1662.805002,171.212496,7.960000,136749.732787,25.828408,6.449866,2010.968454
std,121715.773081,12.787236,30.508819,22729.492116,18.447857,0.458519,6053.415601,5076.928566,5534.069859,3896.068938,4206.209357,39.162445,1.863879,60993.084568,14.152489,3.243397,0.796898
min,0.000000,1.000000,1.000000,0.010000,-2.060000,2.472000,0.000000,-265.760000,-29.100000,0.000000,0.000000,126.064000,3.879000,34875.000000,1.000000,1.000000,2010.000000
25%,105299.750000,11.000000,18.000000,2120.130000,46.680000,2.933000,0.000000,0.000000,0.000000,0.000000,0.000000,132.022667,6.891000,93638.000000,14.000000,4.000000,2010.000000
50%,210775.500000,22.000000,37.000000,7661.700000,62.090000,3.452000,0.000000,0.000000,0.000000,0.000000,0.000000,182.350989,7.866000,140167.000000,26.000000,6.000000,2011.000000
75%,316116.250000,33.000000,74.000000,20271.265000,74.280000,3.738000,2809.050000,2.400000,4.540000,425.290000,2168.040000,212.445487,8.567000,202505.000000,38.000000,9.000000,2012.000000
max,421569.000000,45.000000,99.000000,693099.360000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,219622.000000,52.000000,12.000000,2012.000000

In [9]:
round(df.isnull().sum().sort_values(ascending=False)*100/len(df), 4) # Porcentaje Descendente de Nulos por Columna

Unnamed: 0      0.0
Store           0.0
month           0.0
week            0.0
Christmas       0.0
Thanksgiving    0.0
Labor_Day       0.0
Super_Bowl      0.0
Size            0.0
Type            0.0
Unemployment    0.0
CPI             0.0
MarkDown5       0.0
MarkDown4       0.0
MarkDown3       0.0
MarkDown2       0.0
MarkDown1       0.0
Fuel_Price      0.0
Temperature     0.0
IsHoliday       0.0
Weekly_Sales    0.0
Date            0.0
Dept            0.0
year            0.0
dtype: float64

In [10]:
df.isnull().sum().sort_values(ascending=False) # Conteo Descendente de Nulos por Columna

Unnamed: 0      0
Store           0
month           0
week            0
Christmas       0
Thanksgiving    0
Labor_Day       0
Super_Bowl      0
Size            0
Type            0
Unemployment    0
CPI             0
MarkDown5       0
MarkDown4       0
MarkDown3       0
MarkDown2       0
MarkDown1       0
Fuel_Price      0
Temperature     0
IsHoliday       0
Weekly_Sales    0
Date            0
Dept            0
year            0
dtype: int64

#### no duplicates in row ID colum

In [15]:
df[df.duplicated('Unnamed: 0')]

Empty DataFrame
Columns: [Unnamed: 0, Store, Dept, Date, Weekly_Sales, IsHoliday, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, Type, Size, Super_Bowl, Labor_Day, Thanksgiving, Christmas, week, month, year]
Index: []

[0 rows x 24 columns]