#### Objetivo: generar un modelo que pueda hacer predicciones de ventas

#### Escenario: Eres un científico de datos dentro de la consultoría “El oráculo”, tienes la asignación de trabajar en una empresa de retail para predecir sus ventas semanales a diferentes niveles muestrales, a nivel tienda

#### Datasource: https://www.kaggle.com/code/aslanahmedov/walmart-sales-forecasting

#### Entrega: 06 de Agosto de 2022

In [141]:
import pandas as pd

In [142]:
df = pd.read_csv('C:/users/mike_/Documents/repos/walmart_forecast/data/clean_data.csv')

In [143]:
print('rows =', df.shape[0], ', columns =' ,df.shape[1])
df.columns

rows = 420212 , columns = 24

Index(['Unnamed: 0', 'Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Type', 'Size',
       'Super_Bowl', 'Labor_Day', 'Thanksgiving', 'Christmas', 'week', 'month',
       'year'],
      dtype='object')

In [144]:
df.sample(10)

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
273689,274520,28,47,2012-02-17,21.00,False,51.80,3.781,20868.41,6880.29,...,12.187,A,206302,False,False,False,False,7,2,2012
233962,234700,24,38,2012-03-09,65014.77,False,41.50,4.021,21306.54,1190.23,...,8.659,A,203819,False,False,False,False,10,3,2012
142780,143153,15,83,2011-06-24,212.62,False,69.96,3.964,0.00,0.00,...,7.658,B,123737,False,False,False,False,25,6,2011
74763,74897,8,67,2011-10-14,4475.51,False,61.74,3.274,0.00,0.00,...,6.123,A,155078,False,False,False,False,41,10,2011
226518,227243,24,16,2010-03-12,11167.41,False,42.31,2.938,0.00,0.00,...,8.326,A,203819,False,False,False,False,10,3,2010
139782,140136,15,10,2010-08-27,9962.65,False,65.07,2.885,0.00,0.00,...,8.099,B,123737,False,False,False,False,34,8,2010
345328,346459,36,93,2012-10-19,15085.24,False,74.06,3.570,29.01,0.00,...,6.228,A,39910,False,False,False,False,42,10,2012
333272,334281,35,7,2011-02-11,14291.11,True,30.45,3.239,0.00,0.00,...,8.549,B,103681,True,False,False,False,6,2,2011
385411,386637,41,9,2011-08-26,39121.40,False,71.61,3.485,0.00,0.00,...,6.901,A,196321,False,False,False,False,34,8,2011
257100,257895,27,4,2010-05-28,47144.87,False,67.88,3.046,0.00,0.00,...,8.058,A,204184,False,False,False,False,21,5,2010

In [145]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420212 entries, 0 to 420211
Data columns (total 24 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    420212 non-null  int64
 1   Store         420212 non-null  int64
 2   Dept          420212 non-null  int64
 3   Date          420212 non-null  object
 4   Weekly_Sales  420212 non-null  float64
 5   IsHoliday     420212 non-null  bool
 6   Temperature   420212 non-null  float64
 7   Fuel_Price    420212 non-null  float64
 8   MarkDown1     420212 non-null  float64
 9   MarkDown2     420212 non-null  float64
 10  MarkDown3     420212 non-null  float64
 11  MarkDown4     420212 non-null  float64
 12  MarkDown5     420212 non-null  float64
 13  CPI           420212 non-null  float64
 14  Unemployment  420212 non-null  float64
 15  Type          420212 non-null  object
 16  Size          420212 non-null  int64
 17  Super_Bowl    420212 non-null  bool
 18  Labor_Day     420212 non-null  bool
 19  Thanksgiving  420212 non-null  bool
 20  Christmas     420212 non-null  bool
 21  week          420212 non-null  int64
 22  month         420212 non-null  int64
 23  year          420212 non-null  int64
dtypes: bool(5), float64(10), int64(7), object(2)
memory usage: 62.9+ MB

In [146]:
df['Unnamed: 0'].duplicated().sum() # The Unnamed: 0 is the ID, no duplicates are expected

0

In [147]:
df.describe()

,Unnamed: 0,Store,Dept,Weekly_Sales,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Size,week,month,year
count,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000,420212.000000
mean,210736.390089,22.195611,44.241309,16033.114591,60.090599,3.360890,2590.323565,878.905242,468.845949,1083.534361,1662.805002,171.212496,7.960000,136749.732787,25.828408,6.449866,2010.968454
std,121715.773081,12.787236,30.508819,22729.492116,18.447857,0.458519,6053.415601,5076.928566,5534.069859,3896.068938,4206.209357,39.162445,1.863879,60993.084568,14.152489,3.243397,0.796898
min,0.000000,1.000000,1.000000,0.010000,-2.060000,2.472000,0.000000,-265.760000,-29.100000,0.000000,0.000000,126.064000,3.879000,34875.000000,1.000000,1.000000,2010.000000
25%,105299.750000,11.000000,18.000000,2120.130000,46.680000,2.933000,0.000000,0.000000,0.000000,0.000000,0.000000,132.022667,6.891000,93638.000000,14.000000,4.000000,2010.000000
50%,210775.500000,22.000000,37.000000,7661.700000,62.090000,3.452000,0.000000,0.000000,0.000000,0.000000,0.000000,182.350989,7.866000,140167.000000,26.000000,6.000000,2011.000000
75%,316116.250000,33.000000,74.000000,20271.265000,74.280000,3.738000,2809.050000,2.400000,4.540000,425.290000,2168.040000,212.445487,8.567000,202505.000000,38.000000,9.000000,2012.000000
max,421569.000000,45.000000,99.000000,693099.360000,100.140000,4.468000,88646.760000,104519.540000,141630.610000,67474.850000,108519.280000,227.232807,14.313000,219622.000000,52.000000,12.000000,2012.000000

In [148]:
round(df.isnull().sum().sort_values(ascending=False)*100/len(df), 4) # Porcentaje Descendente de Nulos por Columna

Unnamed: 0      0.0
Store           0.0
month           0.0
week            0.0
Christmas       0.0
Thanksgiving    0.0
Labor_Day       0.0
Super_Bowl      0.0
Size            0.0
Type            0.0
Unemployment    0.0
CPI             0.0
MarkDown5       0.0
MarkDown4       0.0
MarkDown3       0.0
MarkDown2       0.0
MarkDown1       0.0
Fuel_Price      0.0
Temperature     0.0
IsHoliday       0.0
Weekly_Sales    0.0
Date            0.0
Dept            0.0
year            0.0
dtype: float64

In [149]:
df.isnull().sum().sort_values(ascending=False) # Conteo Descendente de Nulos por Columna

Unnamed: 0      0
Store           0
month           0
week            0
Christmas       0
Thanksgiving    0
Labor_Day       0
Super_Bowl      0
Size            0
Type            0
Unemployment    0
CPI             0
MarkDown5       0
MarkDown4       0
MarkDown3       0
MarkDown2       0
MarkDown1       0
Fuel_Price      0
Temperature     0
IsHoliday       0
Weekly_Sales    0
Date            0
Dept            0
year            0
dtype: int64

#### no duplicates in row ID colum

In [150]:
df[df.duplicated('Unnamed: 0')]

Empty DataFrame
Columns: [Unnamed: 0, Store, Dept, Date, Weekly_Sales, IsHoliday, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, Type, Size, Super_Bowl, Labor_Day, Thanksgiving, Christmas, week, month, year]
Index: []

[0 rows x 24 columns]

1. Tienda con más ventas

In [151]:
def format_currency(float):
    return "${:,.2f}".format(float) # Format float as currency (note the comma)

format_currency(1224242132214.487)

'$1,224,242,132,214.49'

Total de ventas por tienda

In [152]:
#TOTAL_SALES_BY_STORE = df.groupby('Store', as_index=False).agg({"Weekly_Sales":"sum"}) # Tabla de total de ventas por Tienda
TOTAL_SALES_BY_STORE = df.groupby('Store', sort=False)["Weekly_Sales"].sum().reset_index(name ='Total_Sales')
TOTAL_SALES_BY_STORE

    Store   Total_Sales
0       1  2.224068e+08
1       2  2.753872e+08
2       3  5.758793e+07
3       4  2.995453e+08
4       5  4.547612e+07
5       6  2.237586e+08
6       7  8.159950e+07
7       8  1.299515e+08
8       9  7.779117e+07
9      10  2.716241e+08
10     11  1.939644e+08
11     12  1.442911e+08
12     13  2.865180e+08
13     14  2.890019e+08
14     15  8.913487e+07
15     16  7.425674e+07
16     17  1.277832e+08
17     18  1.551158e+08
18     19  2.066377e+08
19     20  3.014014e+08
20     21  1.081196e+08
21     22  1.470768e+08
22     23  1.987527e+08
23     24  1.940166e+08
24     25  1.010618e+08
25     26  1.434166e+08
26     27  2.538572e+08
27     28  1.892715e+08
28     29  7.714283e+07
29     30  6.271701e+07
30     31  1.996149e+08
31     32  1.668208e+08
32     33  3.716033e+07
33     34  1.382526e+08
34     35  1.315300e+08
35     36  5.341335e+07
36     37  7.420286e+07
37     38  5.515990e+07
38     39  2.074465e+08
39     40  1.378716e+08
40     41  1.813429e+08
41     42  7.956804e+07
42     43  9.056653e+07
43     44  4.329367e+07
44     45  1.123973e+08

In [153]:
type(TOTAL_SALES_BY_STORE)

pandas.core.frame.DataFrame

In [154]:
TOTAL_SALES_BY_STORE.dtypes

Store            int64
Total_Sales    float64
dtype: object

In [155]:
TOP10_STORES = TOTAL_SALES_BY_STORE.sort_values(by=['Total_Sales'], ascending=False).reset_index(drop=True).head(10) # Top 10 Tiendas con más ventas
TOP10_STORES['Total_Sales'] = TOP10_STORES['Total_Sales'].map("${:,.2f}".format)
TOP10_STORES

   Store      Total_Sales
0     20  $301,401,381.45
1      4  $299,545,269.30
2     14  $289,001,864.44
3     13  $286,517,950.36
4      2  $275,387,155.50
5     10  $271,624,109.39
6     27  $253,857,189.97
7      6  $223,758,588.34
8      1  $222,406,766.77
9     39  $207,446,494.23

In [156]:
TOP10_STORES.dtypes

Store           int64
Total_Sales    object
dtype: object

Tienda con más ventas: Store 20

In [157]:
#TOTAL_SALES_BY_STORE.iloc[TOTAL_SALES_BY_STORE['Weekly_Sales'].argmax()]
TOP_STORE = TOTAL_SALES_BY_STORE.query('Total_Sales == Total_Sales.max()')
TOP_STORE['Total_Sales'] = TOP_STORE['Total_Sales'].map("${:,.2f}".format)
TOP_STORE

C:\Users\mike_\AppData\Local\Temp\ipykernel_17524\272762437.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TOP_STORE['Total_Sales'] = TOP_STORE['Total_Sales'].map("${:,.2f}".format)

    Store      Total_Sales
19     20  $301,401,381.45

Tienda con máxima Desviación Estándar

In [158]:
TOTAL_SALES_BY_STORE.dtypes

Store            int64
Total_Sales    float64
dtype: object

In [159]:
type(TOTAL_SALES_BY_STORE)

pandas.core.frame.DataFrame

In [160]:
def variance(data):
    n = len(data) # observaciones
    mean = sum(data) / n # media
    deviations = [(x - mean) ** 2 for x in data] # desviaciones cuadradas
    variance = sum(deviations) / n # varianza
    return variance

In [161]:
variance([4, 8, 6, 5, 3, 2, 8, 9, 2, 5])

5.76

In [162]:
format_currency(variance(TOTAL_SALES_BY_STORE['Total_Sales'])**(1/2))

'$77,294,749.08'

In [163]:
TOTAL_SALES_BY_STORE.describe()

           Store   Total_Sales
count  45.000000  4.500000e+01
mean   23.000000  1.497179e+08
std    13.133926  7.816816e+07
min     1.000000  3.716033e+07
25%    12.000000  7.956804e+07
50%    23.000000  1.382526e+08
75%    34.000000  1.996149e+08
max    45.000000  3.014014e+08

In [164]:
# estadisticas para cada Store
TOTAL_SALES_BY_STORE.groupby('Store')['Total_Sales'].describe()

,count,mean,std,min,25%,50%,75%,max
Store,,,,,,,,
1,1.0,2.224068e+08,NaN,2.224068e+08,2.224068e+08,2.224068e+08,2.224068e+08,2.224068e+08
2,1.0,2.753872e+08,NaN,2.753872e+08,2.753872e+08,2.753872e+08,2.753872e+08,2.753872e+08
3,1.0,5.758793e+07,NaN,5.758793e+07,5.758793e+07,5.758793e+07,5.758793e+07,5.758793e+07
4,1.0,2.995453e+08,NaN,2.995453e+08,2.995453e+08,2.995453e+08,2.995453e+08,2.995453e+08
5,1.0,4.547612e+07,NaN,4.547612e+07,4.547612e+07,4.547612e+07,4.547612e+07,4.547612e+07
6,1.0,2.237586e+08,NaN,2.237586e+08,2.237586e+08,2.237586e+08,2.237586e+08,2.237586e+08
7,1.0,8.159950e+07,NaN,8.159950e+07,8.159950e+07,8.159950e+07,8.159950e+07,8.159950e+07
8,1.0,1.299515e+08,NaN,1.299515e+08,1.299515e+08,1.299515e+08,1.299515e+08,1.299515e+08
9,1.0,7.779117e+07,NaN,7.779117e+07,7.779117e+07,7.779117e+07,7.779117e+07,7.779117e+07
10,1.0,2.716241e+08,NaN,2.716241e+08,2.716241e+08,2.716241e+08,2.716241e+08,2.716241e+08
11,1.0,1.939644e+08,NaN,1.939644e+08,1.939644e+08,1.939644e+08,1.939644e+08,1.939644e+08
12,1.0,1.442911e+08,NaN,1.442911e+08,1.442911e+08,1.442911e+08,1.442911e+08,1.442911e+08
13,1.0,2.865180e+08,NaN,2.865180e+08,2.865180e+08,2.865180e+08,2.865180e+08,2.865180e+08
14,1.0,2.890019e+08,NaN,2.890019e+08,2.890019e+08,2.890019e+08,2.890019e+08,2.890019e+08
15,1.0,8.913487e+07,NaN,8.913487e+07,8.913487e+07,8.913487e+07,8.913487e+07,8.913487e+07
16,1.0,7.425674e+07,NaN,7.425674e+07,7.425674e+07,7.425674e+07,7.425674e+07,7.425674e+07
17,1.0,1.277832e+08,NaN,1.277832e+08,1.277832e+08,1.277832e+08,1.277832e+08,1.277832e+08
18,1.0,1.551158e+08,NaN,1.551158e+08,1.551158e+08,1.551158e+08,1.551158e+08,1.551158e+08
19,1.0,2.066377e+08,NaN,2.066377e+08,2.066377e+08,2.066377e+08,2.066377e+08,2.066377e+08
20,1.0,3.014014e+08,NaN,3.014014e+08,3.014014e+08,3.014014e+08,3.014014e+08,3.014014e+08
21,1.0,1.081196e+08,NaN,1.081196e+08,1.081196e+08,1.081196e+08,1.081196e+08,1.081196e+08
22,1.0,1.470768e+08,NaN,1.470768e+08,1.470768e+08,1.470768e+08,1.470768e+08,1.470768e+08
23,1.0,1.987527e+08,NaN,1.987527e+08,1.987527e+08,1.987527e+08,1.987527e+08,1.987527e+08
24,1.0,1.940166e+08,NaN,1.940166e+08,1.940166e+08,1.940166e+08,1.940166e+08,1.940166e+08
25,1.0,1.010618e+08,NaN,1.010618e+08,1.010618e+08,1.010618e+08,1.010618e+08,1.010618e+08
26,1.0,1.434166e+08,NaN,1.434166e+08,1.434166e+08,1.434166e+08,1.434166e+08,1.434166e+08
27,1.0,2.538572e+08,NaN,2.538572e+08,2.538572e+08,2.538572e+08,2.538572e+08,2.538572e+08
28,1.0,1.892715e+08,NaN,1.892715e+08,1.892715e+08,1.892715e+08,1.892715e+08,1.892715e+08
29,1.0,7.714283e+07,NaN,7.714283e+07,7.714283e+07,7.714283e+07,7.714283e+07,7.714283e+07
30,1.0,6.271701e+07,NaN,6.271701e+07,6.271701e+07,6.271701e+07,6.271701e+07,6.271701e+07
31,1.0,1.996149e+08,NaN,1.996149e+08,1.996149e+08,1.996149e+08,1.996149e+08,1.996149e+08
32,1.0,1.668208e+08,NaN,1.668208e+08,1.668208e+08,1.668208e+08,1.668208e+08,1.668208e+08
33,1.0,3.716033e+07,NaN,3.716033e+07,3.716033e+07,3.716033e+07,3.716033e+07,3.716033e+07
34,1.0,1.382526e+08,NaN,1.382526e+08,1.382526e+08,1.382526e+08,1.382526e+08,1.382526e+08
35,1.0,1.315300e+08,NaN,1.315300e+08,1.315300e+08,1.315300e+08,1.315300e+08,1.315300e+08
36,1.0,5.341335e+07,NaN,5.341335e+07,5.341335e+07,5.341335e+07,5.341335e+07,5.341335e+07
37,1.0,7.420286e+07,NaN,7.420286e+07,7.420286e+07,7.420286e+07,7.420286e+07,7.420286e+07
38,1.0,5.515990e+07,NaN,5.515990e+07,5.515990e+07,5.515990e+07,5.515990e+07,5.515990e+07
39,1.0,2.074465e+08,NaN,2.074465e+08,2.074465e+08,2.074465e+08,2.074465e+08,2.074465e+08
40,1.0,1.378716e+08,NaN,1.378716e+08,1.378716e+08,1.378716e+08,1.378716e+08,1.378716e+08
41,1.0,1.813429e+08,NaN,1.813429e+08,1.813429e+08,1.813429e+08,1.813429e+08,1.813429e+08
42,1.0,7.956804e+07,NaN,7.956804e+07,7.956804e+07,7.956804e+07,7.956804e+07,7.956804e+07
43,1.0,9.056653e+07,NaN,9.056653e+07,9.056653e+07,9.056653e+07,9.056653e+07,9.056653e+07
44,1.0,4.329367e+07,NaN,4.329367e+07,4.329367e+07,4.329367e+07,4.329367e+07,4.329367e+07
45,1.0,1.123973e+08,NaN,1.123973e+08,1.123973e+08,1.123973e+08,1.123973e+08,1.123973e+08

In [165]:
# alternatively, you can pass 'std' to the agg() function
TOTAL_SALES_BY_STORE.groupby('Store', sort=False)['Total_Sales'].std(ddof=0).reset_index(name ='STD').sort_values(by=['STD'], ascending=False).head(10)

#TOTAL_SALES_BY_STORE.groupby(['Store'])['Weekly_Sales'].agg('std')

    Store  STD
0       1  0.0
23     24  0.0
25     26  0.0
26     27  0.0
27     28  0.0
28     29  0.0
29     30  0.0
30     31  0.0
31     32  0.0
32     33  0.0