In [5]:
%run ./3_DATA_PREPARATION.ipynb

In [23]:
# Regresion Lineal para toda tienda
results = {}
results_metrics = []

for store in df.Store.unique():

    store_series = df.loc[df['Store'] == store]
    store_series = store_series[['Date', 'Weekly_Sales']]
    store_series.dropna(inplace=True)
    store_series.columns = ['Date', 'Sales']
    store_series = store_series[["Sales", "Date"]].resample("W",on ="Date").sum().reset_index()
    #store_df["Date"]=pd.to_datetime(store_df["Date"])
    #store_series.set_index("Date", inplace=True)

    store_series['Time'] = np.arange(len(store_series.index)) # add time step column

    #https://medium.com/@Hong_Tang/timeseries-split-with-sklearn-tips-8162c83612b9

    # Time Series Split
    tscv = TimeSeriesSplit() # instantiate object from class. default parameter sets object to perform k=5 splits

    # Set date as index
    store_series.set_index('Date', inplace=True)
    store_series.sort_index(inplace=True)

    #prepare features dataframe (X) and target (y) as data series
    X = store_series.drop(labels=['Sales'], axis=1)
    y = store_series['Sales']

    # Split train test sets for both features and targets time-series class (tscv) class returns two arrays to mark train and test sets
    for train_index, test_index in tscv.split(X):
        X_train, X_test = X.iloc[train_index, :], X.iloc[test_index, :]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]

    # Summary of Train Test Split: number of records and date range for training and testing dataset.
    #print('The training dataset has', len(X_train), 'records, ranging from', pd.DataFrame(y_train).index.min(), 'to', pd.DataFrame(y_train).index.max())
    #print('The testing dataset has', len(X_test), 'records, ranging from', pd.DataFrame(y_test).index.min(), 'to', pd.DataFrame(y_test).index.max())

    #https://scikit-learn.org/stable/auto_examples/linear_model/plot_ols.html#sphx-glr-auto-examples-linear-model-plot-ols-py

    # Create linear regression object
    regr = LinearRegression()

    # Train the model using the training sets
    regr.fit(X_train.values, y_train.values)

    # Make predictions using the testing set
    y_pred = regr.predict(X_test.values)

    # model performance
    #results_metrics.append(store, evaluate(y_test.values, y_pred))
    #esults_metrics.append(store)
    results_metrics.append(evaluate(y_test.values, y_pred))

    # save results
    results[store] = [X_train, X_test, y_train, y_test, y_pred]


    ## TODO: formato con pandas

In [34]:
tmp = df.groupby(['Date','Store']).agg(Total_Sales = ('Weekly_Sales', 'sum') ).reset_index() # group by Store and aggregate the sum of the Weekly_Sales
top5 = tmp.sort_values(by=['Total_Sales'], ascending=False).head(5)['Store'].values # get top5 selling stores

"""
#bring top 5 selling stores data
store14 = tmp.query('Store==14')
store20 = tmp.query('Store==20')
store10 = tmp.query('Store==20')
store4 = tmp.query('Store==20')
store13 = tmp.query('Store==20')

top5 = array([14, 20, 10,  4, 13], dtype=int64)

"""

top5_results = []
top5_results_metrics = []

for store in top5:
    top5_results.append(results[store])

for store in top5:
    top5_results_metrics.append(results_metrics[store])

In [35]:
len(top5_results), top5_results[0]

(5,
 [            Time
  Date
  2010-02-07     0
  2010-02-14     1
  2010-02-21     2
  2010-02-28     3
  2010-03-07     4
  ...          ...
  2012-04-22   115
  2012-04-29   116
  2012-05-06   117
  2012-05-13   118
  2012-05-20   119

  [120 rows x 1 columns],
              Time
  Date
  2012-05-27   120
  2012-06-03   121
  2012-06-10   122
  2012-06-17   123
  2012-06-24   124
  2012-07-01   125
  2012-07-08   126
  2012-07-15   127
  2012-07-22   128
  2012-07-29   129
  2012-08-05   130
  2012-08-12   131
  2012-08-19   132
  2012-08-26   133
  2012-09-02   134
  2012-09-09   135
  2012-09-16   136
  2012-09-23   137
  2012-09-30   138
  2012-10-07   139
  2012-10-14   140
  2012-10-21   141
  2012-10-28   142,
  Date
  2010-02-07    2623469.95
  2010-02-14    1704218.84
  2010-02-21    2204556.70
  2010-02-28    2095591.63
  2010-03-07    2237603.75
                   ...
  2012-04-22    1875686.44
  2012-04-29    1784029.95
  2012-05-06    1949354.29
  2012-05-13    1987531.05
  2012-05-20    1932248.09
  Name: Sales, Length: 120, dtype: float64,
  Date
  2012-05-27    2030871.77
  2012-06-03    2049485.49
  2012-06-10    2099615.88
  2012-06-17    1905733.68
  2012-06-24    1660228.88
  2012-07-01    1591835.02
  2012-07-08    1862128.95
  2012-07-15    1544422.35
  2012-07-22    1553250.16
  2012-07-29    1479514.66
  2012-08-05    1656886.46
  2012-08-12    1648570.03
  2012-08-19    1660451.30
  2012-08-26    1621841.33
  2012-09-02    1613342.19
  2012-09-09    1904512.34
  2012-09-16    1554794.22
  2012-09-23    1565352.46
  2012-09-30    1522512.20
  2012-10-07    1687592.16
  2012-10-14    1639590.65
  2012-10-21    1590274.72
  2012-10-28    1704357.62
  Name: Sales, dtype: float64,
  array([1973413.80140476, 1971616.96342247, 1969820.12544018,
         1968023.28745789, 1966226.4494756 , 1964429.61149331,
         1962632.77351102, 1960835.93552873, 1959039.09754644,
         1957242.25956415, 1955445.42158186, 1953648.58359957,
         1951851.74561728, 1950054.90763499, 1948258.0696527 ,
         1946461.23167041, 1944664.39368811, 1942867.55570582,
         1941070.71772353, 1939273.87974124, 1937477.04175895,
         1935680.20377666, 1933883.36579437])])

In [40]:
#for i in range(0, len(top5_results_metrics)): print(top5_results_metrics[i], top5_results[i])

{'MAE': 34262.95679967559, 'MSE': 1921978020.8566308, 'RMSE': 43840.36976186025, 'R2': 0.09781765260698139} [            Time
Date
2010-02-07     0
2010-02-14     1
2010-02-21     2
2010-02-28     3
2010-03-07     4
...          ...
2012-04-22   115
2012-04-29   116
2012-05-06   117
2012-05-13   118
2012-05-20   119

[120 rows x 1 columns],             Time
Date
2012-05-27   120
2012-06-03   121
2012-06-10   122
2012-06-17   123
2012-06-24   124
2012-07-01   125
2012-07-08   126
2012-07-15   127
2012-07-22   128
2012-07-29   129
2012-08-05   130
2012-08-12   131
2012-08-19   132
2012-08-26   133
2012-09-02   134
2012-09-09   135
2012-09-16   136
2012-09-23   137
2012-09-30   138
2012-10-07   139
2012-10-14   140
2012-10-21   141
2012-10-28   142, Date
2010-02-07    2623469.95
2010-02-14    1704218.84
2010-02-21    2204556.70
2010-02-28    2095591.63
2010-03-07    2237603.75
                 ...
2012-04-22    1875686.44
2012-04-29    1784029.95
2012-05-06    1949354.29
2012-05-13    1987531.05
2012-05-20    1932248.09
Name: Sales, Length: 120, dtype: float64, Date
2012-05-27    2030871.77
2012-06-03    2049485.49
2012-06-10    2099615.88
2012-06-17    1905733.68
2012-06-24    1660228.88
2012-07-01    1591835.02
2012-07-08    1862128.95
2012-07-15    1544422.35
2012-07-22    1553250.16
2012-07-29    1479514.66
2012-08-05    1656886.46
2012-08-12    1648570.03
2012-08-19    1660451.30
2012-08-26    1621841.33
2012-09-02    1613342.19
2012-09-09    1904512.34
2012-09-16    1554794.22
2012-09-23    1565352.46
2012-09-30    1522512.20
2012-10-07    1687592.16
2012-10-14    1639590.65
2012-10-21    1590274.72
2012-10-28    1704357.62
Name: Sales, dtype: float64, array([1973413.80140476, 1971616.96342247, 1969820.12544018,
       1968023.28745789, 1966226.4494756 , 1964429.61149331,
       1962632.77351102, 1960835.93552873, 1959039.09754644,
       1957242.25956415, 1955445.42158186, 1953648.58359957,
       1951851.74561728, 1950054.90763499, 1948258.0696527 ,
       1946461.23167041, 1944664.39368811, 1942867.55570582,
       1941070.71772353, 1939273.87974124, 1937477.04175895,
       1935680.20377666, 1933883.36579437])]
{'MAE': 76338.62372685302, 'MSE': 7179161437.327485, 'RMSE': 84729.93235762368, 'R2': -2.9625529885776567} [            Time
Date
2010-02-07     0
2010-02-14     1
2010-02-21     2
2010-02-28     3
2010-03-07     4
...          ...
2012-04-22   115
2012-04-29   116
2012-05-06   117
2012-05-13   118
2012-05-20   119

[120 rows x 1 columns],             Time
Date
2012-05-27   120
2012-06-03   121
2012-06-10   122
2012-06-17   123
2012-06-24   124
2012-07-01   125
2012-07-08   126
2012-07-15   127
2012-07-22   128
2012-07-29   129
2012-08-05   130
2012-08-12   131
2012-08-19   132
2012-08-26   133
2012-09-02   134
2012-09-09   135
2012-09-16   136
2012-09-23   137
2012-09-30   138
2012-10-07   139
2012-10-14   140
2012-10-21   141
2012-10-28   142, Date
2010-02-07    2401395.47
2010-02-14    2109107.90
2010-02-21    2161549.76
2010-02-28    1898193.95
2010-03-07    2119213.72
                 ...
2012-04-22    1884427.84
2012-04-29    1886503.93
2012-05-06    2163580.45
2012-05-13    2168097.11
2012-05-20    2039222.26
Name: Sales, Length: 120, dtype: float64, Date
2012-05-27    2114989.00
2012-06-03    2143138.47
2012-06-10    2232040.13
2012-06-17    2165160.29
2012-06-24    2060589.66
2012-07-01    2055987.53
2012-07-08    2358055.30
2012-07-15    2134680.12
2012-07-22    1970170.29
2012-07-29    1911560.08
2012-08-05    2094515.71
2012-08-12    2144245.39
2012-08-19    2045236.22
2012-08-26    2005375.43
2012-09-02    2062489.03
2012-09-09    2080538.03
2012-09-16    2047987.98
2012-09-23    2028587.24
2012-09-30    2008388.36
2012-10-07    2246411.89
2012-10-14    2162996.18
2012-10-21    1999363.49
2012-10-28    2031654.52
Name: Sales, dtype: float64, array([2172711.70104902, 2173734.86675369, 2174758.03245835,
       2175781.19816302, 2176804.36386769, 2177827.52957235,
       2178850.69527702, 2179873.86098169, 2180897.02668636,
       2181920.19239102, 2182943.35809569, 2183966.52380036,
       2184989.68950502, 2186012.85520969, 2187036.02091436,
       2188059.18661902, 2189082.35232369, 2190105.51802836,
       2191128.68373303, 2192151.84943769, 2193175.01514236,
       2194198.18084703, 2195221.34655169])]
{'MAE': 73043.91981709686, 'MSE': 8690149559.857393, 'RMSE': 93220.97167406803, 'R2': -0.782813472103395} [            Time
Date
2010-02-07     0
2010-02-14     1
2010-02-21     2
2010-02-28     3
2010-03-07     4
...          ...
2012-04-22   115
2012-04-29   116
2012-05-06   117
2012-05-13   118
2012-05-20   119

[120 rows x 1 columns],             Time
Date
2012-05-27   120
2012-06-03   121
2012-06-10   122
2012-06-17   123
2012-06-24   124
2012-07-01   125
2012-07-08   126
2012-07-15   127
2012-07-22   128
2012-07-29   129
2012-08-05   130
2012-08-12   131
2012-08-19   132
2012-08-26   133
2012-09-02   134
2012-09-09   135
2012-09-16   136
2012-09-23   137
2012-09-30   138
2012-10-07   139
2012-10-14   140
2012-10-21   141
2012-10-28   142, Date
2010-02-07    2193048.75
2010-02-14    2176028.52
2010-02-21    2113432.58
2010-02-28    2006787.70
2010-03-07    1987888.09
                 ...
2012-04-22    1777166.53
2012-04-29    1713000.54
2012-05-06    1821364.42
2012-05-13    1792345.30
2012-05-20    1795154.70
Name: Sales, Length: 120, dtype: float64, Date
2012-05-27    1830987.10
2012-06-03    1767483.48
2012-06-10    1840491.41
2012-06-17    1811562.88
2012-06-24    1755334.18
2012-07-01    1707481.90
2012-07-08    1806011.77
2012-07-15    1765571.91
2012-07-22    1869967.03
2012-07-29    1817603.66
2012-08-05    1939440.09
2012-08-12    1880436.94
2012-08-19    1827797.40
2012-08-26    1765432.15
2012-09-02    1650285.54
2012-09-09    1708283.28
2012-09-16    1640168.99
2012-09-23    1671857.57
2012-09-30    1694960.41
2012-10-07    1758971.38
2012-10-14    1713889.11
2012-10-21    1734834.82
2012-10-28    1744349.05
Name: Sales, dtype: float64, array([1924455.92964286, 1924457.83105018, 1924459.7324575 ,
       1924461.63386482, 1924463.53527214, 1924465.43667946,
       1924467.33808678, 1924469.2394941 , 1924471.14090142,
       1924473.04230874, 1924474.94371606, 1924476.84512338,
       1924478.7465307 , 1924480.64793802, 1924482.54934534,
       1924484.45075266, 1924486.35215998, 1924488.2535673 ,
       1924490.15497462, 1924492.05638194, 1924493.95778926,
       1924495.85919658, 1924497.7606039 ])]
{'MAE': 20899.499049047798, 'MSE': 627298728.8920628, 'RMSE': 25045.932382166626, 'R2': -1.5491145063675296} [            Time
Date
2010-02-07     0
2010-02-14     1
2010-02-21     2
2010-02-28     3
2010-03-07     4
...          ...
2012-04-22   115
2012-04-29   116
2012-05-06   117
2012-05-13   118
2012-05-20   119

[120 rows x 1 columns],             Time
Date
2012-05-27   120
2012-06-03   121
2012-06-10   122
2012-06-17   123
2012-06-24   124
2012-07-01   125
2012-07-08   126
2012-07-15   127
2012-07-22   128
2012-07-29   129
2012-08-05   130
2012-08-12   131
2012-08-19   132
2012-08-26   133
2012-09-02   134
2012-09-09   135
2012-09-16   136
2012-09-23   137
2012-09-30   138
2012-10-07   139
2012-10-14   140
2012-10-21   141
2012-10-28   142, Date
2010-02-07    2135143.87
2010-02-14    2188307.39
2010-02-21    2049860.26
2010-02-28    1925728.84
2010-03-07    1971057.44
                 ...
2012-04-22    2144634.89
2012-04-29    2064065.66
2012-05-06    2196968.33
2012-05-13    2127661.17
2012-05-20    2207214.81
Name: Sales, Length: 120, dtype: float64, Date
2012-05-27    2154137.67
2012-06-03    2179360.94
2012-06-10    2245257.18
2012-06-17    2234190.93
2012-06-24    2197299.65
2012-07-01    2128363.84
2012-07-08    2224499.28
2012-07-15    2100252.61
2012-07-22    2175563.69
2012-07-29    2048613.65
2012-08-05    2174514.13
2012-08-12    2193367.69
2012-08-19    2283540.30
2012-08-26    2125241.68
2012-09-02    2081181.35
2012-09-09    2125104.72
2012-09-16    2117854.60
2012-09-23    2119438.53
2012-09-30    2027620.23
2012-10-07    2209835.43
2012-10-14    2133026.07
2012-10-21    2097266.85
2012-10-28    2149594.46
Name: Sales, dtype: float64, array([2280626.54178151, 2283884.8119184 , 2287143.08205528,
       2290401.35219217, 2293659.62232905, 2296917.89246594,
       2300176.16260282, 2303434.4327397 , 2306692.70287659,
       2309950.97301347, 2313209.24315036, 2316467.51328724,
       2319725.78342413, 2322984.05356101, 2326242.3236979 ,
       2329500.59383478, 2332758.86397166, 2336017.13410855,
       2339275.40424543, 2342533.67438232, 2345791.9445192 ,
       2349050.21465609, 2352308.48479297])]
{'MAE': 274652.060967618, 'MSE': 92238889549.39162, 'RMSE': 303708.5602175079, 'R2': -1.9648458686460257} [            Time
Date
2010-02-07     0
2010-02-14     1
2010-02-21     2
2010-02-28     3
2010-03-07     4
...          ...
2012-04-22   115
2012-04-29   116
2012-05-06   117
2012-05-13   118
2012-05-20   119

[120 rows x 1 columns],             Time
Date
2012-05-27   120
2012-06-03   121
2012-06-10   122
2012-06-17   123
2012-06-24   124
2012-07-01   125
2012-07-08   126
2012-07-15   127
2012-07-22   128
2012-07-29   129
2012-08-05   130
2012-08-12   131
2012-08-19   132
2012-08-26   133
2012-09-02   134
2012-09-09   135
2012-09-16   136
2012-09-23   137
2012-09-30   138
2012-10-07   139
2012-10-14   140
2012-10-21   141
2012-10-28   142, Date
2010-02-07    1967220.53
2010-02-14    2030933.46
2010-02-21    1970274.64
2010-02-28    1817850.32
2010-03-07    1939980.43
                 ...
2012-04-22    1955689.12
2012-04-29    1970121.65
2012-05-06    1995994.51
2012-05-13    2080765.94
2012-05-20    2131900.55
Name: Sales, Length: 120, dtype: float64, Date
2012-05-27    2043349.41
2012-06-03    2035433.11
2012-06-10    2182437.90
2012-06-17    2152230.70
2012-06-24    2094373.00
2012-07-01    2037673.71
2012-07-08    2184980.35
2012-07-15    2002750.99
2012-07-22    2053089.32
2012-07-29    1914430.53
2012-08-05    2044148.23
2012-08-12    2041117.92
2012-08-19    2095769.18
2012-08-26    2059458.25
2012-09-02    2073855.42
2012-09-09    2165796.31
2012-09-16    1919917.03
2012-09-23    1938379.66
2012-09-30    1927664.11
2012-10-07    2041918.74
2012-10-14    1999079.44
2012-10-21    2018010.15
2012-10-28    2035189.66
Name: Sales, dtype: float64, array([2089222.93783473, 2090772.50468049, 2092322.07152624,
       2093871.63837199, 2095421.20521775, 2096970.7720635 ,
       2098520.33890925, 2100069.90575501, 2101619.47260076,
       2103169.03944651, 2104718.60629227, 2106268.17313802,
       2107817.73998377, 2109367.30682953, 2110916.87367528,
       2112466.44052103, 2114016.00736678, 2115565.57421254,
       2117115.14105829, 2118664.70790404, 2120214.2747498 ,
       2121763.84159555, 2123313.4084413 ])]